body{background-color: #dbeee9; color: white;  font-family: "Cairo", sans-serif;
}

.Headsection{text-align: center;margin: 20px 40px 100px 40px;}

.Headsection a {padding: 10px;}

.maincard{background-color: #31473A; margin: auto;padding: 50px;border-radius: 16px;}

.imgg{border-radius: 8px;margin-top: -140px;}

.maincard{margin: auto;padding: 50px;max-width: 30%;}

input ,textarea{
    width: 100%;
    padding :8px 16px;
    box-sizing: border-box;
    border : 3px solid #ccc;
    transition: 0.5s;
    margin: 3px 1px;
}
input[type=text] :focus{
    border: 3px solid #555;
}

.links-container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

.links-container a{
    display: flex;
    align-items: center;
    justify-content: center;

    color : #ffffff;
    font-size: 20px;
}

.links-container img{
    padding: 8px;
    max-height: 30px;
    background-color: #ffffff;
    border-radius: 3px;
}
